/* GENERELLE INDSTILLINGER */
h1 {
    color: red;
    font-size: 6em;
    font-family: fantasy;
}























/* INDEX HTML */
h1 {
    color: fuchsia;
}




















/* KONTAKT */
















/* OM */











/* AABNINGSTIDER */
